<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Tiếng Anh Vỡ Lòng || Donate</title>
    </head>
    <body class="body-container">
        <div id="sidebar" class="aside-container">
        </div>
        <main class="main-container" id="donate">
            <div id="intro">
                <h1><a href="#intro">Donate</a></h1>
            </div>
            <hr>
            <div id="intro">
                <p>Đây là dự án giáo dục mang tính chất phi lợi nhuận nhằm kéo ngắn khoảng cách xã hội giữa các thế hệ 
                    trong việc học Tiếng Anh. Dự án sẽ không thể hiện thực hoá nếu không có sự đóng góp của các nhà hảo 
                    tâm quan tâm đến nền giáo dục nước nhà hiện nay. Với mục tiêu xây dựng một nền tảng học tập chất 
                    lượng và công bằng cho mọi người, chúng mình vẫn đang ấm ủ rất nhiều chương trình và kế hoạch khác.
                    Do đó, sẽ còn một hành trình dài phía trước để mình và cả đội ngũ bước tiếp. Vì vậy, mọi sự đóng góp
                     của bạn đều là quý giá giúp đội ngũ phát triển và duy trì hoạt động.
                </p>
                <br>
            </div>
            <div id="method">
                <p>Trở thành người ủng hộ, vui lòng liên hệ mình qua email <a href="mailto:vandongbui.work@gmail.com">vandongbui.work@gmail.com</a>
                     hoặc nhắn tin qua địa chỉ Facebook: <a href="https://www.facebook.com/will.bui.9619/" target="_blank">Facebook</a> 
                </p>
                <br>
            </div>
            <div>
                <p>Hoặc bạn có thể ủng hộ qua Paypal bằng cách nhấn vào đường link bên dưới.</p>
                <form action="https://www.paypal.com/donate" method="post" target="_blank">
                    <input type="hidden" name="business" value="78XCQZ6HFTENA" />
                    <input type="hidden" name="no_recurring" value="0" />
                    <input type="hidden" name="currency_code" value="AUD" />
                    <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                    
            </div>
        </main>
    </body>
</html>
