<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <title>Tiếng Anh Vỡ Lòng</title>
</head>
<body class="body-container">
    <div id="sidebar" class="aside-container">

    </div>
   <main class="main-container startpage-container">
      <div class="welcome">
         <h1><a href="#">Welcome</a></h1>
         <hr>
      </div>
      <div id="intro">
         <p>
            Ngôn ngữ anh là một bộ môn mang tính nghệ thuật trong đó đòi hỏi đa số người học dành nhiều tâm huyết
             và sự rèn luyện kiên trì trong một thời gian dài để trở nên thuần thục. Khoá học này đóng vai trò như những
            bước đệm đầu tiên, cung cấp một nền tảng kiến thức vững chắc cho một hành trình chinh phục tiếng anh phía trước của bạn. 
            Các chủ đề trong khoá học bao gồm Learn How to Learn (Học cách học), Research (Nghiên cứu), English in Daily Conversation (Tiếng Anh hàng ngày),
            English in Academia (Tiếng Anh học thuật), English Tools & Cyber Safety (Công cụ học tập và An toàn trên không gian mạng). Các kiến thức nền Tiếng Anh bao gồm
             Pronunciation (phát âm), Word Classification (Phân loại từ), Sentence Structure (Cấu trúc câu), Tenses (Thì), Expressions (Cách diễn đạt).
            Các bài tập được thiết kế mang tính thực tiễn cao và được chắt lọc từ hàng trăm bài viết khoa học và lối nói chuyện từ người dân bản ngữ nói Tiếng Anh. 
            Khoá học được xây dựng nhắm vào các đối tượng gồm những người mới làm quen với Tiếng Anh, những người mất căn bản và những người đã từng học nhưng vẫn chưa thể làm chủ được ngôn ngữ này. 
            Một trong những mục tiêu chính của khoá học là trang bị các kiến thức và công cụ cần thiết từ đó người học có thể khám phá những kiến thức nâng cao khác. 
            Khoá học cũng mang theo sứ mệnh truyền cảm hứng, tạo động lực cho người học với tinh thần cởi mở, tự do đóng góp ý kiến cùng nhau xây dựng một môi trường học 
            tập lành mạnh.
         </p>
      </div>
      <div class="video">
         <iframe src="https://www.youtube.com/embed/RCGeLqS9dLI" title="YouTube video player"></iframe> 
         </iframe>
      </div>
      <div id="instr">
         <h2><a href="#instr">How to take this course</a></h2>
         <hr>
         <p>
            Chúng tôi tin rằng học tập là suốt đời và việc học một ngôn ngữ mới không bị giới hạn bởi tuổi tác miễn chúng ta có niềm tin và sự kiên trì. Do đó,
            khoá học được thiết kế dành cho tất cả mọi người. Tuy nhiên, do cấu trúc khoá học xoay quanh những kiến thức nền tảng và không đi sâu vào các chủ đề cụ thể nên sẽ 
            là phù hợp hơn cho những đối tượng được đề cập ở trên. Chúng tôi khuyến khích bạn:
            <ol>
               <li>Kiểm tra đầu vào tại bài <a href="test.html">TEST</a></li>
               <li>Đọc các bài đọc được yêu cầu trước khi xem bài giảng</li>
               <li>Đọc note của toàn bộ bài giảng</li>
               <li>Hoàn thành các bài tập sau mỗi tuần</li>
            </ol>
         </p>
      </div>
      <div id="teach">
         <h2><a href="#teach">How to teach this course</a></h2>
         <hr>
         <p>
            Nếu bạn là giáo viên, chúng tôi rất vui nếu bạn có nhu cầu sử dụng các tài liệu và bài tập ở khoá học này cho 
            học sinh của bạn. Tuy nhiên, bạn phải đảm bảo tuân thủ các điều kiện <a href="teach.html">tại đây</a>.
         </p>
      </div>
   </main>
   <footer>
   </footer>
</body>
</html>


