<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <title>Tiếng Anh Vỡ Lòng || Mentorship Program</title>
</head>
<body class="body-container">
    <div id="sidebar" class="aside-container">
    </div>
   <main class="main-container" id="mentorship-program">
    <div>
        <h1><a href="#">Mentorship Program</a></h1>
        <hr>
    </div>
    <div id="overview">
        <a href="#overview"><h2>Tổng quan:</h2></a>
        <p>Đối với đại đa số người học, việc tự học là một quá trình nhàm chán và khá là đơn điệu. 
            Người học thường có cảm giác không có kết nối với nội dung bài học, không xác định được những mảng kiến thức
             còn thiếu sót hay thường cảm thấy lạc lõng trong một mớ kiến thức đồ sộ trước mắt mà không biết nên bắt đầu 
             từ đâu. Những mối lo ngày một nhiều hơn về số lượng và khó hơn, phức tạp hơn về mặt chất lượng trong suốt quá trình học
              khiến nhiều người có cảm giác không tiến bộ và mất dần động lực học tập. <span>Mentorship Program</span> là chương trình được tạo 
              ra nhằm giải quyết một phần các vấn đề trên của người học. Đây là chương trình với mục đích kết nối bạn với các <span>mentors</span> tài năng.
        </p>
        <br>
    </div>
    <div id="mentor">
        <a href="#mentor"><h3>Mentors:</h3></a>
        <p> <span>Mentors</span> là những người đã từng gặp những khó 
            khăn giống bạn trong việc làm chủ tiếng Anh và họ đã thành công. Với sự đồng hành của các mentors, chúng 
            tôi cam đoan rằng con đường chinh phục tiếng Anh của bạn sẽ nhẹ nhàng, được truyền cảm hứng và thú vị hơn 
            rất nhiều. Tìm hiểu profile của các mentor <a href="#">tại đây.</a>
        </p>
        <br>
    </div>
    <div id="benefit">
        <a href="#benefit"><h3>Lợi ích khi tham gia chương trình Mentorship:</h3></a>
        <p>
            <ul>
                <li>Được truyền cảm hứng học tập và năng lượng tích cực khi được trò chuyện với mentor.</li>
                <li>Được các mentor trực tiếp chia sẻ kinh nghiệm trong học tập cũng như trong đời sống. </li>
                <li>Giải đáp các thắc mắc cũng như định hình rõ mục tiêu và lộ trình học giúp bạn đạt được mục tiêu trong học tập.</li>
            </ul>
        </p>
        <br>
    </div>
    <div id="fee">
        <h4> <a href="#fee">Chi phí: </a></h4>
        <p>
            Toàn bộ nội dung khóa học là miễn phí nhưng để là thành viên của chương trình Mentorship, bạn sẽ phải bỏ ra 
            một khoản học phí tính theo giờ để nhận được sự hỗ trợ từ các mentors. 
        </p>
    </div>
    <div id="registers">
        <p>
            Hướng dẫn đăng ký trở thành thành viên của chương trình Mentorship tại đường link dưới đây.<br> <br>
            Trở thành thành viên của <a href="https://form.jotform.com/vandongbui.work/dangkymentorshipprogram" target="_blank"><span>Mentorship Program</span></a>
        </p>
    </div>
    </main>
    <footer>
    </footer>
</body>
</html>