<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <title>English ||  Teach</title>
</head>
<body class="body-container">
    <div id="sidebar" class="aside-container">

    </div>
   <main class="main-container startpage-container">
    <div class="welcome">
        <h1><a href="#">Welcome</a></h1>
        <hr>
     </div>
     <div id="intro">
        <p>Bạn có thể:</p>
           <ul>
               <li> <b>Chia sẻ</b> - Copy và phân bố các tài liệu trên bất kỳ nền tảng nào </li>
               <li><b>Chỉnh sửa</b> - Phối hợp, biến đổi hoặc làm mới dựa trên các nội dung phân phối trên nền tảng này </li>
           </ul>
        <p>Với điều kiện:</p>
        <ul>
            <li><b>Tác quyền</b>- Bạn phải ghi rõ nguồn, cung cấp liên kết với trang web nơi cung cấp tài liệu gốc </li>
            <li><b>Thương mại hoá</b>- Bạn có thể không được sử dụng tài liệu cho mục đích thương mại</li>
        </ul>
        
     </div>
   </main>
   <footer>
   </footer>
</body>
</html>


