<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <title>Tiếng Anh Vỡ Lòng</title>
</head>
<body class="body-container">
    <div id="sidebar" class="aside-container">
    </div>
   <main class="main-container" id="test">
        <div id="test-intro">
            <h1>Bài kiểm tra đầu vào cho khoá học</h1>
            <p>Bài kiểm tra gồm 15 câu hỏi nhằm mục đích kiểm tra các kiến thức nền tảng về ngôn ngữ Anh đối với các
                chủ đề loại từ, cấu trúc câu, các thì trong tiếng Anh và phát âm. Có hai dạng câu hỏi gồm chọn đáp án đúng 
                và chọn đáp án thay thế. Một số lưu ý khi làm bài test:
                <ul>
                    <li>Nhấn nút Start để bắt đầu bài test</li>
                    <li>Bạn phải hoàn thành lần lượt từng câu hỏi và không được bỏ trống bất kỳ câu nào</li>
                    <li>Bài test không giới hạn thời gian làm bài</li>
                    <li>Bài test không giới hạn số lần bạn tham gia</li>
                    <li>Nhấn nút "Submit" sau khi bạn hoàn thành bài kiểm tra</li>
                </ul>
            </p>
        </div>
        <div id="question-form">
            <div id="question-container"  class="hide">
                <div id="question">Question</div>
                <div id="answer-buttons" class="btn-grid">
                    <button class="btn">Answer 1</button>
                    <button class="btn">Answer 2</button>
                    <button class="btn">Answer 3</button>
                    <button class="btn">Answer 4</button>
                </div>
            </div>
            <div class="controls">
                <button id="start-btn" class="start-btn btn">Start</button>
                <button id="next-btn" class="next-btn btn hide">Next</button>
                <button id="result-btn" class="result-btn btn hide">Result</button>
            </div>
        </div>
        <div id="notice">
            <br>
            <br>
            <span>Lưu ý:</span> Bài test chỉ mang tính chất kiểm tra mức độ phù hợp với nội dung được giảng dạy trong khoá học. 
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>