<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Week 0</title>
</head>
<body class="body-container">
    <div id="sidebar" class="aside-container">
    </div>
    <main class="main-container">
        <div>
            <br>
            <h1><a href="#">Bài đọc bắt buộc</a></h1>
            <hr>
        </div>
        <div>
            <h2>Trước khi tham gia thảo luận bạn cần đọc các bài viết sau:</h2>
            <ol>
                <li>Để tiếng anh trở thành ngôn ngữ thứ hai, <i>Tiến sĩ Vũ Thị Phương Anh</i>, đăng trên thanhnien.vn,
                    <a href="https://thanhnien.vn/giao-duc/de-tieng-anh-tro-thanh-ngon-ngu-thu-hai-1031449.html" target="_blank">Truy cập tại đây</a>
                </li>
                <br>
                <li>Vì sao học sinh Việt Nam yếu tiếng anh,<i> Nguyễn Vạn Phú</i>, đăng trên báo tuổi trẻ,
                    <a href="https://cuoituan.tuoitre.vn/van-de-su-kien/vi-sao-hoc-sinh-viet-nam-yeu-tieng-anh-1571376.html" target="_blank">Truy cập tại đây</a>
                </li>
                <br>
                <li>Kém tiếng anh, người Việt có thể thua ngay trên “sân nhà”, <i>Giáo sư Tiến sĩ Trần Văn Nhung</i>, đăng trên báo quốc tế,
                    <a href="https://baoquocte.vn/kem-tieng-anh-nguoi-viet-co-the-thua-ngay-tren-san-nha-48036.html">Truy cập tại đây</a>
                </li>
                <br>
                <li>
                    Vì sao chúng ta nên học thêm một ngôn ngữ,
                    <a href="https://cmmbvietnam.com/vi-sao-chung-ta-nen-hoc-them-mot-ngon-ngu.html">Truy cập tại đây</a>
                </li>
            </ol>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>