<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>English || Tuần 0</title>
</head>
<body class="body-container">
    <div id="sidebar" class="aside-container"> </div>
    <main class="main-container content-header">
        <div class="lesson-header">
            <p>Tuần 0 - <span>Học cách học</span></p>
        </div>
        <div class="lesson-section">
            <div class="card">
                <a href="week_0_lesson_1.html">
                    <div>    
                        <h3>Vai trò & Tầm quan trọng của Tiếng Anh</h3>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <div>
                        <h3>Người Việt & việc học ngoại ngữ</h3>
                    </div>
                </a> 
            </div>
            <div class="card">
                <a href="#">
                    <div>
                        <h3>Lý thuyết về nhận thức</h3>
                    </div>
                </a> 
            </div>
            <div class="card">
                <a href="#">
                    <div>
                        <h3>Học sao cho hiệu quả</h3>
                    </div>
                </a> 
            </div>
            <div class="card">
                <a href="#">
                    <div>
                        <h3>Các giai đoạn thành thành thạo Tiếng Anh</h3>
                    </div>
                </a> 
            </div>
    </main>
</body>
</html>