<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Tiếng Anh Vỡ Lòng || English Expression</title>
</head>
<body class="body-container">
    <div id="sidebar" class="aside-container"> </div>
    <main class="main-container content-header">
        <div id="navbar" class="lesson-header">
            <h2>6. English Expression </h2>
        </div>
        <div class="lesson-section">
            <div class="card">
                <a href="#">
                    <div>    
                        <h3>Collocations</h3>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <div>
                        <h3>Idioms</h3>
                    </div>
                </a> 
            </div>
            <div class="card">
                <a href="#">
                    <div>
                        <h3>Phrasal verbs</h3>
                    </div>
                </a> 
            </div>
    </main>
</body>
</html>