<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Week 0</title>
</head>
<body class="body-container">
    <div id="sidebar" class="aside-container">
    </div>
    <main class="main-container">
        <div>
            <br>
            <h1><a href="#">Bài tập</a></h1>
        <hr>
        </div>
        <div>
            <ol>
                <li>Chuyển ngôn ngữ sử dụng trên các thiết bị của bạn sang English</li><br>
                <li>Follow page và xem các nội dung trên trang Facebook:<a href=" https://www.facebook.com/groups/bienphiendichtienganh" target="_blank">Biên-Phiên Dịch Tiếng Anh</a></li><br>
                <li>Tải các ứng dụng <b>Duolingo</b>, <b>Cake</b>, <b>Từ điển TFlat</b>, <b>Từ điển Oxford Dictionary</b></li><br>
                <li>Thử sức với bài kiểm tra trình độ dành cho <b>Young Learners</b> <a href="https://www.cambridgeenglish.org/vn/test-your-english/young-learners/" target="_blank">tại đây</a></li>
            </ol>
        </div>
    </main>
    <footer></footer>
</body>
</html>