<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>English || Vai trò và tầm quan trọng của Tiếng Anh</title>
</head>
<body class="body-container">
        <div id="sidebar" class="aside-container"> </div>
        <main class="main-container lesson-container">
            <div class="lesson-title">
                <p> Tuần 0 - <span>Vai trò và tầm quan trọng của Tiếng Anh</span></p>
                <hr>
            </div>
            <div class="lesson-video">
                <iframe src="https://www.youtube.com/embed/szkkbQc-EdA" title="YouTube video player"></iframe> 
                 </iframe>
            </div>
            <div class="lesson-references">
                <ul>
                    <li><a href="week_0_required_reading.html">Bài đọc bắt buộc</a></li>
                    <li><a href="week_0_recommended_reading.html">Bài đọc tham khảo</a></li>
                    <li><a href="week_0_notes.html">Notes</a></li>
                    <li><a href="#">Bài tập</a></li>
                </ul>
            </div>
            <div class="next-lesson">
                <a href="week_0.html" class="previous">Previous</a>
                <a href="week_0_lesson_2.html" class="next">Next</a>
                <a href="week_0.html" class="previous round">&#8249;</a>
                <a href="week_0_lesson_2.html" class="next round">&#8250;</a>
            </div>
        </main>
        <footer>
        </footer>
</body>
</html>