<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Week 0 || Bài đọc tham khảo</title>
</head>
<body class="body-container">
    <div id="sidebar" class="aside-container">
    </div>
    <main class="main-container">
        <div>
            <br>
            <h1><a href="#">Bài đọc tham khảo</a></h1>
            <hr>
        </div>
        <div>
            <h2>Bạn có thể tham khảo thêm các bài viết sau:</h2>
            <ol>
                <li>10 lý do bạn cần học tiếng anh,<i>Thanh Bình</i>, đăng trên Vnexpress.net,
                    <a href="https://vnexpress.net/10-ly-do-ban-can-hoc-tieng-anh-3272046.html" target="_blank">Truy cập tại đây</a>
                </li>
                <br>
                <li>Trí nhớ và các giai đoạn của nó,
                    <a href="https://trangtamly.blog/2017/05/19/tri-nho-va-cac-giai-doan-cua-no/" target="_blank">Truy cập tại đây</a>
                </li>
                <br>
                <li>Why can't my Vietnamese friends speak English?, đăng trên quora.com,
                    <a href="https://www.quora.com/Why-cant-my-Vietnam-friends-speak-English">Truy cập tại đây</a>
                </li>
                <br>
                <li>
                    West teacher explains why the Vietnamese hard to learn English,
                    <a href="http://volunteerhouse.org/west-teacher-explains-why-the-vietnamese-hard-to-learn-english/" target="_blank">Truy cập tại đây</a>
                </li>
                <br>
                <li>
                    why learning a language is hard, <i>Erin</i>,
                    <a href="https://www.ef.com/wwen/blog/language/why-learning-a-language-is-hard/" target="_blank">Truy cập tại đây</a>
                </li>
                <br>
                <li>
                    Tại sao học ngôn ngữ lại khó, <a href="https://tracnghiemtienganh.vn/2021/06/29/tai-sao-hoc-ngon-ngu-lai-kho-cach-giup-no-tro-nen-de-dang-hon/" target="_blank">Truy cập tại đây</a>
                </li>
            </ol>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>