#donate {
    margin-left: 15px;
    margin-top: 1%;
    h1, h2, h3 a {
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    p {
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
}