#donate {
    margin-left: 15px;
    margin-top: 1%;
    h2, h3 a {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
    }
    p {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
    }
}