.startpage-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 30% 30% 30% 20%;
    grid-template-areas:
    "welcome"
    "intro"
    "video"
    "instr"
    "teaching" ;
    margin: 2%;
}

.welcome {
    grid-area: welcome;
    
}

#intro {
    grid-area: intro;
    overflow:scroll;
    p {
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
        ul li {
            font-size: small;
            font-family: 'Times New Roman', Times, serif;
            b {
                font-size: small;
                font-family: 'Times New Roman', Times, serif;
            }
        }
    }
}

.video {
    grid-area: video;
    iframe {
        min-width: 100%;
        min-height: 100%;
    }
}

#instr {
    grid-area: instr;
    p {
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
        }
    ol li {
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
        a {
            color: red;
        }
    }
}

#teach {
    grid-area: teaching;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    p a {
        color: red;
    }
}

//responsiveness for desktops and laptops
@media screen and (min-width: 768px) {
    .startpage-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 25% 50% 30% 20%;
        grid-template-areas:
        "welcome"
        "intro"
        "video"
        "instr"
        "teaching" ;
    }

    #intro {
        grid-area: intro;
        p {
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            ul li {
                font-size: 16px;
                font-family: 'Times New Roman', Times, serif;
                b {
                    font-size: 16px;
                    font-family: 'Times New Roman', Times, serif;
                }
            }
        }
    }

    .video {
        text-align: center;
        grid-area: video;
        iframe {
            min-width: 80%;
            min-height: 100%;
        }
    }

    #instr {
        grid-area: instr;
        p {
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            }
        ol li {
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            a {
                color: red;
            }
        }
    }
    
    #teach {
        grid-area: teaching;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        p a {
            color: red;
        }
    }
}