.content-header {
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: 
    "header-navibar header-navibar header-navibar"
    ". lesson-section .";
    grid-gap: 5px;
}

.lesson-header {
    height: 15vh;
    grid-area: header-navibar;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid #EAEAEA;
    background-color: whitesmoke;
}

.lesson-section {
    grid-area: lesson-section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
}

.card {
    border: 1px solid #777;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: 16px;
    background-color: whitesmoke;
    width: 100%;
    min-height: 10%;
}

.card:hover {
    background-color: paleturquoise;
}