.lesson-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vh 60vh 25vh 5vh;
    grid-template-areas: 
    "title title title"
    ". video ."
    ". refs ."
    ". next .";
    grid-gap: 5px;
}

.lesson-title {
    grid-area: title;
    height: 10vh;
    border: 1px solid red;
}

.lesson-video {
    grid-area: video;
    height: 60vh;
    border: 1px solid blue;
    iframe {
        min-width: 100%;
        min-height: 100%;
    }
}

.lesson-references {
    grid-area: refs;
    height: 25vh;
    ul li a {
        margin-top: 20px;
    }
    border: 1px solid green;
}

.next-lesson {
    grid-area: next;
    height: 5vh;
    border: 1px solid red;
}