
.aside-container {
    grid-area: sidebar;
    border: 1px solid orange;
    background-color: rgb(7, 1, 1);
    overflow: scroll;
}

.main-container {
    grid-area: main;
    border: 1px solid blue;
}

.week {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.418);
}

nav ul li {
    margin-bottom: 5px;
}
