
.aside-container a {
    text-decoration: none;
    color: white;
}
.header {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
}

nav .week {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.418);
}

.week a:hover {
     color: #B91646;
 }

nav ul {
    list-style-type: none;
    margin-left: 5%;
    padding: 0;
}

.toggle-button {
    text-align: center;
    width: 75px;
    height: 35px;
    border: none;
    color: #2867B2;
    border-radius: 2px;
}

.toggle-button:hover {
    background-color: #2867B2;
    border: 2px solid white;
    color: white;

}