
.aside-container {
    grid-area: sidebar;
    background-color: rgb(7, 1, 1);
    overflow-y: scroll;
    font-size: 16px;
    position: fixed;
    top: 0;
    bottom: 0;
}

.aside-container a {
    text-decoration: none;
    color: white;
}
.aside-container header {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 5%;
    margin-top: 5%;
}

.main-container {
    grid-area: main;
    overflow: scroll;
}

nav .week {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.418);
}

.week a:hover {
     color: #B91646;
 }

nav ul {
    list-style-type: none;
    margin-left: 5%;
    padding: 0;
}
