
.aside-container {
    grid-area: sidebar;
    background-color: rgb(7, 1, 1);
    overflow: scroll;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.aside-container a {
    text-decoration: none;
    color: white;
}

.main-container {
    grid-area: main;
}

.week {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.418);
}

nav ul li {
    margin-bottom: 5px;
}
