
.content-header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "header-navibar"
    "lesson-section";
}

.lesson-header {
    grid-area: header-navibar;
    width: 100%;
    p {
        margin-top: 7vh;
        font-size: 28px;
        font-weight: 300;
        line-height: 40px;
        font-family: 'Times New Roman', Times, serif;
        color: #2e3d49;
    }
}

.lesson-section {
    grid-area: lesson-section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow:scroll;
}

.card {
    border: 1px solid #777;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: 10px;
    background-color: whitesmoke;
    width: 100%;
    min-height: 10%;
    margin-top: 5px;
    h3 {
        font-size: small;
    }
}

.card:hover {
    background-color: paleturquoise;
}

//responsiveness for laptops and desktops
@media screen and (min-width: 768px) {
    .content-header {
        display: grid;
        grid-template-columns: 15% auto 15%;
        grid-template-rows: 15vh 85vh;
        grid-template-areas: 
        "header-navibar header-navibar header-navibar"
        ". lesson-section .";
        grid-gap: 5px;
    }
    
    .lesson-header {
        height: 15vh;
        grid-area: header-navibar;
        width: 100%;
        position: fixed;
        border-bottom: 2px solid #EAEAEA;
        background-color: whitesmoke;
        p {
            margin-top: 7vh;
            margin-left: 20vh;
            font-size: 28px;
            font-weight: 300;
            line-height: 40px;
            font-family: 'Times New Roman', Times, serif;
            color: #2e3d49;
        }
    }
    
    .lesson-section {
        grid-area: lesson-section;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow:scroll;
    }
    
    .card {
        border: 1px solid #777;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: .5rem;
        padding: 16px;
        background-color: whitesmoke;
        width: 100%;
        min-height: 10%;
        h3 {
            font-size: x-large;
        }
    }
    
    .card:hover {
        background-color: paleturquoise;
    }
}
