.week-notes {
    margin: 15px 10px 25px 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.week-notes h1 {
    font-weight: bold;
}

.week-notes li a {
    color: #BD4B4B;
}

.header-tag {
    font-weight: bold;
}

.week-notes ::selection {
    color: #BD4B4B;
    background: #D5D5D5;
}
